@model CreateCarDto
@{
    ViewData["Title"] = "Yeni Araba Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <label>Araba Modeli</label>
            <input type="text" asp-for="ModelName" class="form-control mt-1" />
            <label>Araba Görseli</label>
            <input type="text" asp-for="ImageUrl" class="form-control mt-1" />
            <label>Model Yılı</label>
            <input type="number" asp-for="Year" class="form-control mt-1" />
            <label>Kiralama Bedeli</label>
            <input type="number" asp-for="Price" class="form-control mt-1" />
            <label>Koltuk Sayısı</label>
            <input type="number" asp-for="SeatCout" class="form-control mt-1" />
        </div>
        <div class="col-lg-6">
            <label>Kilometre Bilgisi</label>
            <input type="number" asp-for="Kilometer" class="form-control mt-1" />
            <label>Marka</label>
            <select asp-items="@ViewBag.Brands" asp-for="BrandId" class="form-control mt-1">
                <option>Markayı Seçiniz</option>
            </select>
            <label>Yakıt Türü</label>
            <select asp-items="@ViewBag.gasTypes" asp-for="GasType" class="form-control mt-1">
                <option>Yakıt Türünü Seçiniz</option>
            </select>
            <label>Vites Türü</label>
            <select asp-items="@ViewBag.gearTypes" asp-for="GearType" class="form-control mt-1">
                <option>Vites Türünü Seçiniz</option>
            </select>
            <label>Vites Özelliği</label>
            <select asp-items="@ViewBag.transmissions" asp-for="Transmission" class="form-control mt-1">
                <option>Vites Özelliğini Seçiniz</option>
            </select>
        </div>
    </div>
    <button class="btn btn-outline-dark mt-2"><i class="fa fa-save"></i> Kaydet</button>
</form>

