@model UpdateFeatureDto
@{
    ViewData["Title"] = "Feature Güncelleme";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="FeatureId" />
    <input type="text" asp-for="Title" class="form-control mt-2" />
    <label> Açıklama</label>
    <textarea asp-for="Description" class="form-control mt-2" />
    <label> İcon</label>
    <input type="text" asp-for="Icon" placeholder="fa fa-tag fa-2x" class="form-control mt-2" />
    <button class="btn btn-outline-primary mt-1"> <i class="fa fa-save"></i>Güncelle</button>
</form>

